Build
.vscode
.DS_Store
Tyranny of the Felines/Assets/Art/Characters/SecondGuardSprite.png.meta
Tyranny of the Felines/Assets/Art/IntroAndOutroVideo.meta
Tyranny of the Felines/Assets/Art/IntroAndOutroVideo/introVidV2.mp4.meta
Tyranny of the Felines/Assets/Art/IntroAndOutroVideo/outroVid.mp4.meta
Tyranny of the Felines/Assets/Art/Characters/GuardSprite.png.meta
